<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Hotelapp_Login.orderDressTest"/>
      <class name="Hotelapp_Login.HomePageTest"/>
      <class name="Hotelapp_Login.TweetPageTest"/>
      <class name="Hotelapp_Login.addToCartTest"/>
      <class name="Hotelapp_Login.dressPageMatch"/>
      <class name="Hotelapp_Login.dressPageTest"/>
      <class name="Hotelapp_Login.Login_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
